:root {
    --dark-background-color: #212529;
    --light-background-color: #343A40;
    --top-color: #02030C;
    --back-text-color: #ffffff80;
    --main-text-color: #ECEBE5;
    --light-green: #4edf86;
    --dark-green: #21cc7f;
}

* {
    font-family: 'Poppins', sans-serif;
}

.divider {
    height: 20px;
    width: max-content;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #111418;
    width: 100vw;
}

/*Smaller screens*/
@media only screen and (max-width: 480px) {

.divider {
    height: 10px;
    width: max-content;
}
    
menu {
    width: 0;
    padding: 0;
} 
    
main {
    width: 100%;
    margin: 0;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;  
}
    
/*Top panel*/
.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: var(--top-color);
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    width: 100vw;
    z-index: 999;
    align-items: center;
}

.top img {
    width: 50px;
    height: 30px;
    object-fit: cover;
}

.logo{
    list-style-type: none; 
    padding: 0;
    margin: 0;
    align-items: center;
}

.q, .c, .e {
    display: inline;
    margin-right: 10px;
    color: var(--back-text-color);
}

/*To be corrected*/
.openbtn {
    display: inline-block;
    align-self: start;
    color: var(--main-text-color);
    background-color: #111418;
    margin-left: 50px;
    z-index: 999;
}
    
.topnav {
    display: none;
    flex-direction: column;
    position: relative;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #111418;
    border: 1px solid var(--light-background-color);
    z-index: 999;
    width: 60vw;
    height: 40vh;
}
    
.topnav a {
    width: 50vw;
    display: flex;
    text-decoration: none;
    background-size: auto;
    padding: 8px;
    flex-direction: column;
    text-transform: uppercase;
    text-align: start;
    border: 0.8px solid var(--light-background-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text-color);
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 6px;
    margin-left: 4px;
    position: relative;
    list-style-type: none;
    transition: 0.3s;
}
    
.topnav a:link, .topnav a:visited {
    color: var(--main-text-color);
    transition: color 0.3s;
}
        
.topnav a:hover, .topnav a:active {
    color: var(--dark-green);
}
    
.sidebar {
    display: none;
}

/*Home section*/
#home {
    background-image: url(home_background-img-70.png);
    background-position: center;
    background-size: cover;
    height: 400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;
}

.intro {
    margin-top: 0px !important;
}

h1{
    box-sizing: border-box;
    display: block;
    color: var(--main-text-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-block-end: 8px;
    margin-block-start: 0px;
}

.location {
    box-sizing: border-box;
    display: block;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 8px;
    margin-block-end: 8px;
    margin-block-start: 0px;
}

#demo {
    box-sizing: border-box;
    color: var(--light-green);
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

/* Button hire me */
.hire {
    background-color: transparent;
    border: 1.6px solid var(--dark-green);
    border-radius: 800px;
    box-shadow: none;
    box-sizing: border-box;
    color: var(--dark-green);
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 12.96px 32px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.hire:link {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s;
}

.hire:hover {
    background-color: var(--dark-green) !important;
    color: var(--main-text-color) !important;
    font-weight: bold; 
}

/*Headlines of all of the sections*/
.header {
    box-sizing: border-box;
    color: var(--light-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 0px;
    position: relative;
    z-index: 1;
}

.head {
    box-sizing: border-box;
    color: var(--main-text-color);
    font-size: 32px;
    font-weight: 600;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-top: 15px;
}

.undertext {
    box-sizing: border-box;
    color: var(--back-text-color);
    display: block;
    font-size: 40px;
    font-weight: 600;
    height: 142.95px;
    line-height: 142.946px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 15px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-top: 0px;
    opacity: 0.1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    
}

/*About me section*/
#about {
    height: auto;
}

h2 {
    box-sizing: border-box;
    color: var(--main-text-color);
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 8px;
    margin-block-end: 8px;
    margin-block-start: 0px;
}

.text {
    box-sizing: border-box;
    color: var(--main-text-color);
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 48px;
    margin-right: 48px;
    margin-block-end: 8px;
    margin-block-start: 0px;
}

/*Years grid*/

.quantity {
    box-sizing: border-box;
    color: var(--back-text-color);
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 48px;
    text-align: center;
}

.grid {
    box-sizing: border-box;
    color: var(--back-text-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    align-items: center;
    margin-left: -12px;
    margin-right: -12px;
}

.col-1, .col-2, .col-3 {
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    max-width: 100%;
    padding: 0px 12px;
    position: relative;
    text-align: center;
}

.col-1 {
    border-right-color: var(--light-background-color);
    border-right-style: solid;
    border-right-width: 1.6px;
}

.number {
    font-size: 36px;
    font-weight: 600;
    color: var(--light-green);
}

/*Resume section*/
#resume {
    height: auto;
    background-color: var(--light-background-color);
    text-align: center;
    padding: 24px 0px;
}

.slider-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.education, .experience {
    display: flex;
    flex-wrap: nowrap;
}

.titles-container {
    margin-bottom: 20px;
    width: 100%;
}

h3, h4 {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-text-color);
    margin: 0;
    padding-left: 50px;
    text-align: left;
}

.box {
    background-color: var(--dark-background-color);
    box-sizing: border-box;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    flex: 1;
    float: left;
    min-width: 100%;
    height: 500px;
    font-size: 16px;
    font-weight: 200;
    padding: 15px;
    margin-bottom: 40px;
}

.inbox {
    width: 80%;
    margin-left: 30px;
    align-items: center;
}

.time {
    color: var(--main-text-color);
    background-color: var(--light-green);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    vertical-align: baseline;
    text-wrap: nowrap;
    padding: 4.9px 9.1px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-bottom: 8px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100px;
}

.position {
    color: var(--main-text-color);
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-block-end: 8px;
    margin-inline-start: 0px;
    margin-bottom: 8px;
    text-align: start;
    margin-top: 10px;
}

.description {
    color: var(--back-text-color);
    text-align: justify;
}

.place, .company {
    color: var(--dark-green);
    font-size: 16px;
    font-weight: 400;
    display: block;
    text-align: start;
    margin-top: 0px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    size: 20px;
    color: var(--dark-green);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: -10px;
}

button.next {
    right: -10px;
}

/*Skills section*/
#skills {
    height: auto;
    background-color: #111418;;
    text-align: center;
    padding: 24px 0px;
}

.container-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px;
  }

  .hard-skills, .soft-skills {
    flex: 1; 
    overflow-y: hidden;
    width: 80%;
    text-align: start;
    border: solid 2px var(--light-background-color);
    border-radius: 6px;
    padding: 20px;
    margin: 10px 0;
    align-items: center;
  }  

  h5 {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;
    color: var(--main-text-color);
    margin: 0;
  }

  .skills-divider {
    width: 70px;
    height: 3px;
    background-color: var(--dark-green);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container-skills ul{
    padding-left: 20px;
  }

  .container-skills li {
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
  }

  .container-skills li::marker {
    color: var(--dark-green);
  }

}