:root {
    --dark-background-color: #212529;
    --light-background-color: #343A40;
    --top-color: #02030C;
    --back-text-color: #ffffff80;
    --main-text-color: #ECEBE5;
    --light-green: #4edf86;
    --dark-green: #21cc7f;
}

* {
    font-family: 'Poppins', sans-serif;
}

.divider {
    height: 20px;
    width: max-content;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #111418;
    width: 100vw;
}

/*Smaller screens*/
@media only screen and (max-width: 480px) {

.divider {
    height: 10px;
    width: max-content;
}
    
menu {
    width: 0;
    padding: 0;
} 
    
main {
    width: 100%;
    margin: 0;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;  
}
    
/*Top panel*/
.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: var(--top-color);
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    width: 100vw;
    z-index: 999;
    align-items: center;
}

.top img {
    width: 50px;
    height: 30px;
    object-fit: cover;
}

.logo{
    list-style-type: none; 
    padding: 0;
    margin: 0;
    align-items: center;
}

.q, .c, .e {
    display: inline;
    margin-right: 10px;
    color: var(--back-text-color);
}

/*To be corrected*/
.openbtn {
    display: inline-block;
    align-self: start;
    color: var(--main-text-color);
    background-color: #111418;
    margin-left: 50px;
    z-index: 999;
}
    
.topnav {
    display: none;
    flex-direction: column;
    position: relative;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #111418;
    border: 1px solid var(--light-background-color);
    z-index: 999;
    width: 60vw;
    height: 40vh;
}
    
.topnav a {
    width: 50vw;
    display: flex;
    text-decoration: none;
    background-size: auto;
    padding: 8px;
    flex-direction: column;
    text-transform: uppercase;
    text-align: start;
    border: 0.8px solid var(--light-background-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--main-text-color);
    letter-spacing: 1px;
    line-height: 12px;
    margin-top: 6px;
    margin-left: 4px;
    position: relative;
    list-style-type: none;
    transition: 0.3s;
}
    
.topnav a:link, .topnav a:visited {
    color: var(--main-text-color);
    transition: color 0.3s;
}
        
.topnav a:hover, .topnav a:active {
    color: var(--dark-green);
}
    
.sidebar {
    display: none;
}

}